html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.topPage1 {
    text-align: center;
    background-color: #373738;
    color: white;
    padding-bottom: 20px;
}


.topPage1 button {
    background-color: #373738;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    height: 45px;
    width: 140px;
    border: 1px solid #555;
    box-shadow: 0 1px 3px #333;
}

.topPage1 button:hover {

    cursor: pointer;
}

.topPage2 {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.topPage2 div {
    display: flex;
}

.topPage2 p {
    width: 350px;
    margin: 10px;
    text-align: center;
}


.topPage3 {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #373738;
}

.topPage3>div {
    background-color: #f1f1f1;
    width: 195px;
    margin: 10px;
    text-align: center;
}

.topPage4 {
    height: 190px;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.topPage5 {
    display: flex;
}

.topPage5 > div{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.left-topPage5 { 
    background-color:DodgerBlue  ;
    color: #f1f1f1;
}
.right-topPage5{
    background-color:#373738 ;
    color: #f1f1f1;
}



.topPage6 {
      width: 100%;
    display: flex;
    background-color:black;
    justify-content: space-around;
}

.topPage6 > div{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.left-topPage6 { 
      color: #f1f1f1;
}
.right-topPage6{
color: #f1f1f1;
}
.span{
    color: blue;
}